.header {
    height: 2.88rem;
    background-color: #005BAC;
}

.header .content{
    width: 80%;
    margin: 0 auto;
    height: 2rem;
    display: flex;
    align-items: center;
}

.header .content .logo{
    width: 1.3rem;
    height: 1.3rem;
    margin-right: .26rem;
}
.header .content .desc{
    color: #fff;
    font-size: .36rem;
}

.header .content .desc p:nth-child(2){
    margin-top: .18rem;
    font-size: .28rem;
}

.header .footer{
    height: .88rem;
    line-height: .88rem;
    text-align: center;
    color: #aeaeae;
    background-color: #fff;
}

.header .footer span{
    display: inline-block;
    width: .8rem;
    font-size: .4rem;
    color: #000;
}

